#
# Copyright (C) 2016 Sony Mobile Communications Inc.
# All rights, including trade secret rights, reserved.
#

on init
    wait /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/userdata
    exec u:r:recovery:s0 root root cache system trimarea graphics -- /sbin/wipedata check-full-wipe
    exec u:r:installd:s0 root root cache system trimarea graphics -- /sbin/wipedata check-keep-media-wipe
    exec u:r:recovery:s0 root root cache system trimarea graphics -- /sbin/wipedata check-umount